* {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 300px;
  gap: .5em;

  justify-items: center;
  align-items: center;

  justify-content: center;

}

.item {
  height: 100px;
  width: 100px;
  padding: 2em;
  background-color: slateblue;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}

/* 
body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.box {
  background-color: rebeccapurple;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 1em;
  grid-template-areas: "box-1 box-2 box-2 box-3" "box-1 box-4 box-5 box-5";
} */