*,
::after,
::before {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-group {
  margin: 20px 0;
  position: relative;
}

.input-group label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  font-size: 1rem;
  pointer-events: none;
  padding: 0 5px;
  transition: 0.2s;
}

.input-group input {
  width: 360px;
  height: 60px;
  font-size: 1rem;
  padding: 0 15px;
  border: 1.2px solid white;
  background: transparent;
  outline: none;
  border-radius: 16px;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: 0;
  background-color: #121212;
  font-size: 0.8rem;
}

.debug {
  border: 1px solid darkred;
  padding: 2px;
}

.submit {
  width: 450px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 30px;
  background: #121212;
  cursor: pointer;
  transition: all 1s;
}

.submit:hover {
  background: red;
  transform: scale(1.03);
}
